<div class="review">
    <h3>{{post.review_title}}</h3>
    {% if post.author == user %}
        <p>Vous avez posté une review</p>
    {% else %}
        <p>{{post.author}} à poster une review</p>
    {% endif %}
    <p>Fait le {{post.date_created}}</p>
    

    {% if post.rate == 1 %}
        <p>La review : {{post.comment}}  -  ★☆☆☆☆</p>
    {% elif post.rate == 2 %}
        <p>La review : {{post.comment}}  -  ★★☆☆☆</p>
    {% elif post.rate == 3 %}
        <p>La review : {{post.comment}}  -  ★★★☆☆</p>
    {% elif post.rate == 4 %}
        <p>La review : {{post.comment}}  -  ★★★★☆</p>
    {% elif post.rate == 5 %}
        <p>La review : {{post.comment}}  -  ★★★★★</p>
    {% endif %}
    
    <blockquote>
        <div class="ticket">
            <p>Critique sur <strong>{{post.ticket.ticket_title}}</strong></p>
            <p>Demande de critique de {{post.ticket.author}}</p>
            <p>Fait le {{post.date_created}}</p>
            <img src="{{ post.ticket.photo.image.url }}" alt="">
        </div>
    </blockquote>
</div>
