:root{
    --main-ticket-margin:10px;
    --main-ticket-padding:15px;
    --main-border-width:1px;
    --main-border-radius:15px;
    --main-ratio-width:95%;
    --main-space-between-ticket:10px;
    --main-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.5);
}

*{
    font-family: 'Roboto', sans-serif;
    text-decoration:none;

    max-width: 800px;

    margin-left: auto;
    margin-right: auto;

    background: linear-gradient(315deg, rgb(89 232 255) 0%, rgb(160 74 255) 100%);
    background-attachment: fixed;

    transition: 500ms;
}

body{
    margin-bottom: 100px;
}

p{
    display: flex;
    flex-direction: column;
}

a{
    color: rgb(255, 255, 255);
    background: transparent;
    background-color: transparent;
    text-shadow: 0px 0px 5px rgb(125, 125, 125);
}

span{
    display: none;
}

label{
    color: rgb(255, 255, 255);
    background: transparent;
    background-color: transparent;
    text-shadow: 0px 0px 5px rgb(126, 126, 126);
}

li{
    list-style-type: none;
    background: transparent;
    background-color: transparent;
}

/* ---------------------------------------------------------------
   -----------------------   HEADER   ----------------------------
   ---------------------------------------------------------------*/

h1.title{
    color:whitesmoke;
    font-size: 5em;
    text-shadow: 0 0 35px grey;
}

header{
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

ul.menu-menu{
    display: flex;
    flex-direction: row;
    padding-left: 0px;
    text-align: center;
}

div.header-title{
    display: flex;
    text-align: center;
}

div.menu{
    margin: 0;

    border-style: solid;
    border-width: var(--main-border-width);
    border-color: whitesmoke;
    border-radius: 15px;
}

a.menu-menu_a:hover{
    text-shadow: 0px 0px 20px rgb(168, 255, 252);
}

/* ---------------------------------------------------------------
   -----------------------   ENTETE   ----------------------------
   ---------------------------------------------------------------*/

div.entete{
    margin-top: 35px;
    margin-bottom: 35px;
}

/* ---------------------------------------------------------------
   -----------------------   BOUTON   ----------------------------
   ---------------------------------------------------------------*/

button{
    display: block;
    cursor: pointer;

    padding: 10px;
    margin: 5px;

    border-radius: 20px;

    width: 200px;

    border-style: none;
    background: linear-gradient(90deg,rgb(136 192 200) 0%, rgb(190 93 213) 100%);

    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 5px rgb(124, 124, 124);

    box-shadow: var(--main-box-shadow);
}

div.bouton_critique{
    display: flex;
    justify-content: center;
}

button.bouton_critique--btn{
    margin-left: 35px;
    margin-right: 35px;
}

button.bouton_critique--btn:hover{
    background: linear-gradient(90deg, rgb(181, 174, 255) 0%, rgb(255, 248, 205) 100%);
}

button.edit:hover{
    transition: 500ms;
    background: linear-gradient(90deg, rgb(181, 174, 255) 0%, rgb(255, 248, 205) 100%);
}

button.delete:hover{
    transition: 500ms;
    background: linear-gradient(90deg, rgb(255, 174, 174) 0%, rgb(255, 248, 205) 100%);
}

button.review:hover{
    transition: 500ms;
    background: linear-gradient(90deg, rgb(181, 174, 255) 0%, rgb(255, 248, 205) 100%);
}

button.validate:hover{
    transition: 500ms;
    background: linear-gradient(90deg, rgb(175, 255, 174) 0%, rgb(255, 248, 205) 100%);
}

button.back:hover{
    transition: 500ms;
    background: linear-gradient(90deg, rgb(181, 174, 255) 0%, rgb(255, 248, 205) 100%);
}

/* ---------------------------------------------------------------
   -----------------------   BILLET   ----------------------------
   ---------------------------------------------------------------*/

blockquote{
    width: var(--main-ratio-width);
    margin-right: -5px;
}

div.review{
    width: var(--main-ratio-width);
    height: auto;

    border-style: solid;
    border-width: var(--main-border-width);
    border-color: whitesmoke;
    border-radius: 15px;

    padding: var(--main-ticket-padding);

    padding-top: var(--main-space-between-ticket);
    padding-bottom: var(--main-space-between-ticket);

    margin-top: var(--main-space-between-ticket);
    margin-bottom: var(--main-space-between-ticket);

    box-shadow: var(--main-box-shadow);
}

div.ticket{
    width: var(--main-ratio-width);
    height: auto;

    border-style: solid;
    border-width: var(--main-border-width);
    border-color: whitesmoke;
    border-radius: 15px;

    padding: var(--main-ticket-padding);

    padding-top: var(--main-space-between-ticket);
    padding-bottom: var(--main-space-between-ticket);

    margin-top: var(--main-space-between-ticket);
    margin-bottom: var(--main-space-between-ticket);

    box-shadow: var(--main-box-shadow);
}

img{
    width: var(--main-ratio-width);
    height: auto;
    border-radius: var(--main-border-radius);

    margin-top: var(--main-space-between-ticket);
    margin-bottom: var(--main-space-between-ticket);

    box-shadow: var(--main-box-shadow);
}

div.btn-post{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

form{
    margin: 0;
}

textarea#id_content{
    color: whitesmoke;
    width: 800px;
}

textarea#id_comment{
    color: whitesmoke;
    width: 800px;
}

/* ---------------------------------------------------------------
   ----------------------- ABONNEMENTS ---------------------------
   ---------------------------------------------------------------*/

table{
    border-style: solid;
    border-width: var(--main-border-width);
    border-color: whitesmoke;

    margin: auto;
    margin-top: var(--main-ticket-margin);
    margin-bottom: var(--main-ticket-margin);
}

tbody{
    display: flex;
    flex-direction: row;
}
tr{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
}

td{
    border-style: solid;
    border-width: var(--main-border-width);
    border-color: whitesmoke;

    height: 75px;
    width: 250px;

    display: flex;
    align-items: center;
    justify-content: center;
}

td.text{
    height: 75px;
    width: 250px;

    text-align: center;
    line-height: 75px;

    font-size: 125%;
    color: whitesmoke;
}

form.find_users{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}

input.searchfield{
    margin: 0;
    margin-top: var(--main-ticket-margin);
    margin-bottom: var(--main-ticket-margin);
}

/* ---------------------------------------------------------------
   -----------------------   FOOTER    ---------------------------
   ---------------------------------------------------------------*/

footer{
    position: fixed;
    bottom: 0;
    width: 100%;

    margin-left: -15px;

    padding: 15px;
    display: flex;
    height: 50px;
}
img.icon_footer__ic{
    height: 50px;
    margin: 0;
}

/* ---------------------------------------------------------------
   ----------------------- DECONNEXION ---------------------------
   ---------------------------------------------------------------*/

div.logout{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.log{
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.connexion{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form.connexion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ---------------------------------------------------------------
   -----------------------  CRITIQUE  ----------------------------
   ---------------------------------------------------------------*/

div#id_rate{
    display:flex;
    flex-direction: row;
    align-items: center;
}

div.ticket-btn{
    display: flex;
}

div.registration-btn{
    display: flex;
    flex-direction: row;
}

input{
    background: whitesmoke;

    padding: 5px;
    padding-left: 2%;
    padding-right: 2%;

    margin:15px;

    border-radius: 15px;
    border-style: none;
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 24px;
    height: 24px;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
  }
  
  input[type="radio"]::before {
    content: '★';
    font-size: 24px;
    color: #ccc;
  }
  
  input[type="radio"]:checked::before {
    color: #fff200;
  }