{% load static %}
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LITReview</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,100&display=swap" rel="stylesheet">
</head>

<header>
    
    <h1 class="title">LITReview</h1>
    
    <div class="menu">
        <ul class="menu-menu">
            <li><a class="menu-menu_a" href="{% url 'feed' %}">Flux</a></li>
            <li><a class="menu-menu_a" href="{% url 'post' %}">Posts</a></li>
            <li><a class="menu-menu_a" href="{% url 'subscription' %}">Abonnements</a></li>
            <li><a class="menu-menu_a" href="{% url 'logout' %}">Déconnexion</a></li>
        </ul>
    </div>    
</header>
<body>
    {% block content %}{% endblock %}
</body>

<footer>
    <p class="tf">Made from Réunion Island</p>
    <a href="https://github.com/Gremy44/P9" target="_blank"><img class="icon_footer__ic" src="\media\signe-github.png" alt="signe-github"></a>
</footer>
</html>