{% extends 'base_user_connected.html' %}
{% block content %}
    <div class="bouton_critique">
        <button class="bouton_critique--btn"><a href="{% url 'ticket_create' %}" name="new_ticket">Demander une critique</a></button>
        <button class="bouton_critique--btn"><a href="{% url 'critique_create' %}"  name="new_critique">Créer une critique</a></button>
    </div>
    <hr>
    <div class="grid-container">
        {% for ticket in tickets %}
            <div class="post">
                <a href="{% url 'view_ticket' ticket.id %}">
                    <h3>{{ticket.author}} a demandé une critique de : {{ ticket.title }}</h3>
                    <img src="{{ ticket.photo.image.url }}">
                </a>
                <blockquote>
                <p>Créer le {{ticket.date_created}}</p>
                <p>Auteur : {{ticket.author}}</p>
                </blockquote>
                <button><a href="{% url 'view_ticket' ticket.id %}">Créer une critique</a></button>
                <hr>
            </div>
        {% endfor %}
    </div>
{% endblock content %}