{% extends 'base_user_connected.html' %}
{% block content %}

    <h2>Modifier la review</h2>

    <blockquote>
        {% include 'ticket_snippet.html' with post=ticket %}
    </blockquote>

    <form method="post">
        {{ edit_form.as_p }}
        {% csrf_token %}
        <div class="btn-post">
            <button class="validate" type="submit" >Sauvegarder</button>
    </form>
        
    <button class="back"><a href="{% url 'post' %}">Retour</a></button>
        </div>
{% endblock content %}